@{ 
    ViewBag.Title = "Home Page";
    Layout = null;
}

<html ng-app="NetBeeTicketApp">
<head>
    
    <title>@ViewBag.Title</title>
    @Styles.Render("~/bundles/mini-spa/style")
    @Scripts.Render("~/bundles/mini-spa/script")
</head>
<body class="container">
    <h1>Welcome Customer!</h1>
    <div ng-view>

    </div>

</body>
</html>